<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Agendar Viagem</title>
</head>
<body>
<div layout:fragment="conteudo">
    <form th:action="@{/agendamento/cadastrar}" th:object="${agendamento}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <input th:field="*{codigo}" type="hidden">
        <div class="form-group">
            <label for="nome">Nome do Cliente</label>
            <input th:field="*{nome_cliente}" id="nome" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Local de Origem</label>
            <input th:field="*{local_origem}" id="local_orgiem" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Local de Destino</label>
            <input th:field="*{local_destino}" id="local_destino" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input th:field="*{data}" id="data" class="form-control">
        </div>
        <div class="form-group">
            <label for="data">Hora</label>
            <input th:field="*{hora}" id="hora" class="form-control">
        </div>
        <button class="btn btn-success">Agendar</button>
    </form>
</div>
<div layout:fragment="rodape">
</div>
</body>
</html>